/* 
    Deloitte Green Old: #6EAD25 
    Deloitte Green: #26890D 
*/

.dot-background-image-demo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

.dot-background-image-demo img {
    height: 100%;
    width: 100%;
}

/* 
*    Main chatbox layout
*/
#dot.dot-chatbot {
    font-family: 'Roboto', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.9px;
    z-index: 9990;
}

    #dot.dot-chatbot .dot-chatbox {
        display: none;
        position: fixed;
        right: 120px;
        bottom: 80px;
        background: #fff;
        height: 0%;
        max-height: 1200px;
        width: 600px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px #bbb;
        z-index: 9997;
    }

    #dot.dot-chatbot .dot-icon {
        display: table;
        width: 140px;
        border-radius: 60px;
        background: #fff;
        box-shadow: 1px 1px 10px #aaa;
        position: fixed;
        bottom: 80px;
        right: 120px;
        padding: 8px 0 8px 8px;
        cursor: pointer;
        z-index: 9996;
    }

    #dot.dot-chatbot .dot-icon .dot-icon-img {
        display: block;
        height: 30px;
        vertical-align: middle;
        text-align: center;
        margin: 10px 0 10px 0;
    }

        #dot.dot-chatbot .dot-icon .dot-icon-img img {
            height: 100%;
            vertical-align: middle;
            display: inline !important;
            box-sizing: content-box !important;
            -webkit-box-sizing: content-box !important;
        }

    #dot.dot-chatbot .dot-icon .dot-icon-text {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
    }

    #dot.dot-chatbot .dot-info-popover {
        display: table;
        position: fixed;
        bottom: 170px;
        right: 230px;
        background: #fff;
        padding: 15px 25px;
        border-radius: 20px 20px 0 20px;
        box-shadow: 1px 1px 10px #aaa;
        opacity: 0;
        z-index: 9996;
    }

        #dot.dot-chatbot .dot-info-popover .dot-info-popover-text {
            display: table-cell;
            padding-right: 30px;
        }

        #dot.dot-chatbot .dot-info-popover .dot-info-popover-close {
            display: table-cell;
            position: absolute;
            font-size: 16px;
            color: #555;
            cursor: pointer;
            margin-top: -11px;
            transition: all 0.2s ease;
        }

        #dot.dot-chatbot .dot-info-popover .dot-info-popover-close:hover {
            color: #777;
        }

    #dot.dot-chatbot .dot-survey-main-container {
        display: none;
    }

    #dot.dot-chatbot .dot-chatbox-icon {
        position: fixed;
        margin-left: -60px;
        margin-top: -78px;
        background: #fff;
        padding: 18px;
        border-radius: 50%;
        box-shadow: 1px 1px 10px #aaa;
        z-index: 9999;
    }

        #dot.dot-chatbot .dot-chatbox-icon img {
            height: 98px;
        }


/* 
*    Elements inside chatbox: header
*/
    #dot.dot-chatbot .dot-chatbox-header {
        background: #6EAD25;
        height: 90px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

        #dot.dot-chatbot .dot-chatbox-header .dot-close-options {
            display: table;
            height: 70%;
            float: right;
            margin-right: 25px;
            width: 20%;
        }

            #dot.dot-chatbot .dot-chatbox-header .dot-close-options .dot-close-option {
                display: table-cell;
                vertical-align: middle;
                text-align: right;
                color: #fff;
                font-size: 1.8em;
                cursor: pointer;
                transition: all 0.2s ease;
            }

            #dot.dot-chatbot .dot-chatbox-header .dot-close-options .dot-close-option:hover {
                color: #ededed;
            }

            #dot.dot-chatbot .dot-chatbox-header .dot-close-options .dot-minify-chatbox {
                padding-left: 15px;
            }

/* 
*    Elements inside chatbox: sub-header
*/
    #dot.dot-chatbot .dot-chatbox-subtitle {
        display: table;
        background: #fff;
        width: 100%;
        height: 120px;
        text-align: right;
    }

        #dot.dot-chatbot .dot-chatbox-subtitle .dot-chatbox-subtitle-header,
        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener {
            display: table-row;
        }

        #dot.dot-chatbot .dot-chatbox-subtitle .dot-chatbox-subtitle-header {
            border-bottom: 1px solid #000;
            text-align: center;
            padding-top: 110px;
        }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-opener-container {
            display: table;
            float: right;
            margin-right: 5%;
            width: 70%;
            padding-top: 15px;
        }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-opener-text {
            display: table-cell;
            vertical-align: middle;
            font-size: 1em;
            color: #555;
        }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys {
            display: table-cell;
            font-size: 1.8em;
            vertical-align: middle;
            cursor: default;
            color: #555;
        }

            #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys .dot-positive.active,
            #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys .dot-positive:hover {
                color: #6EAD25;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys .dot-negative.active,
            #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys .dot-negative:hover {
                color: #ff0000;
                cursor: pointer;
                transition: all 0.3s ease;
            }

        #dot.dot-chatbot .dot-chatbox-subtitle .dot-chatbox-subtitle-header-container {
            display: table;
            width: 100%;
            padding-top: 25px;
        }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-subtitle-content {
            display: table-cell;
            vertical-align: bottom;
            color: #cecece;
            font-weight: 200;
            width: 60%;
        }

            #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-subtitle-content strong {
                font-weight: 500;
            }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-subtitle-content-sideline {
            display: table-cell;
            vertical-align: middle;
            width: 20%;
        }

            #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-subtitle-content-sideline .dot-sideline {
                width: 100%;
                height: 1px;
                background: #cecece;
            }


/* 
*    Elements inside chatbox: chatarea
*/
    #dot.dot-chatbot .dot-chatbox-chatarea {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px 15px 40px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: 400;
        letter-spacing: normal;
        font-size: 15px;
    }

    /* 
    *    Elements inside chatarea: chatbubbles
    */
    #dot.dot-chatbot .dot-left-text,
    #dot.dot-chatbot .dot-right-text {
        word-wrap: break-word;
    }


    #dot.dot-chatbot .dot-left-text a,
    #dot.dot-chatbot .dot-right-text a {
        color: #2e3cd5 !important;
        text-decoration: underline !important;
    }
    
    #dot.dot-chatbot .dot-left-text a:hover,
    #dot.dot-chatbot .dot-right-text a:hover {
        opacity: 0.85;
    }

    #dot.dot-chatbot .dot-left-text {
        display: table;
        width: 100%;
        float: left;
        margin-top: 8px;
    }

        #dot.dot-chatbot .dot-left-text.dot-left-text-singular,
        #dot.dot-chatbot .dot-left-text.dot-left-text-first,
        #dot.dot-chatbot .dot-left-text.dot-left-text-loader {
            margin-top: 20px;
        }

        #dot.dot-chatbot .dot-left-text .dot-left-text-content-container {
            display: table-cell;
            width: 90%;
        }

        #dot.dot-chatbot .dot-left-text .dot-left-text-icon {
            display: table-cell;
            width: 10%;
            text-align: center;
            vertical-align: middle;
            padding-right: 10px;
        }

        #dot.dot-chatbot .dot-left-text .dot-left-text-icon {
            vertical-align: top;
            padding-top: 10px;
        }

            #dot.dot-chatbot .dot-left-text .dot-left-text-icon img,
            #dot.dot-chatbot .dot-left-text .dot-image-placeholder {
                width: 25px;
                vertical-align: middle;
            }

        #dot.dot-chatbot .dot-left-text .dot-left-text-content-container .dot-left-text-content {
            display: inline-block;
            max-width: 60%;
            padding: 15px;
            background: #fff;
            box-shadow: 1px 1px 8px #bbb;
            border-radius: 0 20px 20px 20px;
        }

        #dot.dot-chatbot .dot-left-text.dot-left-text-singular .dot-left-text-content-container .dot-left-text-content,
        #dot.dot-chatbot .dot-left-text.dot-left-text-last .dot-left-text-content-container .dot-left-text-content {
            border-radius: 0 20px 20px 20px;
        }

        #dot.dot-chatbot .dot-left-text.dot-left-text-first .dot-left-text-content-container .dot-left-text-content {
            border-radius: 20px 20px 20px 0;
        }

        #dot.dot-chatbot .dot-left-text.dot-left-text-middle .dot-left-text-content-container .dot-left-text-content {
            border-radius: 0 20px 20px 0;
        }

        #dot.dot-chatbot .dot-left-text.dot-left-text-loader .dot-left-text-content {
            padding: 18px;
        }

            #dot.dot-chatbot .dot-left-text.dot-left-text-loader .dot-left-text-content img {
                height: 10px;
            }

    #dot.dot-chatbot .dot-right-text {
        display: table;
        width: 100%;
        float: right;
        margin-top: 8px;
    }

        #dot.dot-chatbot .dot-right-text.dot-right-text-singular,
        #dot.dot-chatbot .dot-right-text.dot-right-text-first {
            margin-top: 20px;
        }

        #dot.dot-chatbot .dot-right-text .dot-right-text-content-container {
            display: table-cell;
        }

            #dot.dot-chatbot .dot-right-text .dot-right-text-content-container .dot-right-text-content {
                max-width: 60%;
                padding: 15px;
                box-shadow: 1px 1px 8px #bbb;
                border-radius: 0 20px 20px 20px;
                float: right;
                background: #6EAD25;
                color: #fff;
            }

        #dot.dot-chatbot .dot-right-text.dot-right-text-singular .dot-right-text-content-container .dot-right-text-content,
        #dot.dot-chatbot .dot-right-text.dot-right-text-last .dot-right-text-content-container .dot-right-text-content {
            border-radius: 20px 0 20px 20px;
        }

        #dot.dot-chatbot .dot-right-text.dot-right-text-first .dot-right-text-content-container .dot-right-text-content {
            border-radius: 20px 20px 0 20px;
        }

        #dot.dot-chatbot .dot-right-text.dot-right-text-middle .dot-right-text-content-container .dot-right-text-content {
            border-radius: 20px 0 0 20px;
        }

    /* 
    *    Elements inside chatarea: buttons
    */
    #dot.dot-chatbot .dot-button-container {
        display: table;
        width: 100%;
        padding-top: 25px;
        table-layout: fixed;
    }

        #dot.dot-chatbot .dot-button-container .dot-button-row {
            display: table-row;
        }

        #dot.dot-chatbot .dot-button-container .dot-button-option {
            display: table-cell;
            border: 1px solid #fff;
            width: 33%;
            background: #6EAD25;
            text-align: center;
            color: #fff;
            vertical-align: middle;
            padding: 3px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 12px;
            height: 30px;
        }

            #dot.dot-chatbot .dot-button-container .dot-button-option:hover {
                opacity: 0.9;
            }

/* 
*    Elements inside chatbox: inputarea
*/
    #dot.dot-chatbot .dot-input-area {
        height: 60px;
        width: 100%;
        border-top: 2px solid #6EAD25;
        display: table;
    }

        #dot.dot-chatbot .dot-input-area .dot-input-area-inputbox {
            display: table-cell;
            height: 60px;
            width: 85%;
            overflow: hidden;
            vertical-align: middle;
            padding-left: 20px;
            padding-right: 5px;
        }

        #dot.dot-chatbot .dot-input-area .dot-input-area-sendbutton {
            display: table-cell;
            height: 60px;
            width: 15%;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
        }

            #dot.dot-chatbot .dot-input-area .dot-input-area-sendbutton img {
                height: 20px;
                cursor: pointer;
                transition: all 0.2s ease;
            }

            #dot.dot-chatbot .dot-input-area .dot-input-area-sendbutton img:hover {
                opacity: 0.7;
            }

            #dot.dot-chatbot .dot-input-area .dot-input-area-inputbox input[type="text"] {
                width: 100%;
                height: 98%;
                font-size: 16px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
                border: 0;
                outline: 0;
                background: none;
            }

                #dot.dot-chatbot .dot-input-area .dot-input-area-inputbox input[type="text"]::-webkit-input-placeholder {
                    color: #bbb;
                }

                #dot.dot-chatbot .dot-input-area .dot-input-area-inputbox input[type="text"]:-ms-input-placeholder {
                    color: #bbb;
                }

                #dot.dot-chatbot .dot-input-area .dot-input-area-inputbox input[type="text"]::placeholder {
                    color: #bbb;
                }

/* 
*    Survey
*/
#dot-survey.dot-survey-main-container {
    font-family: 'Roboto', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 9998;
    background: #fff;
    width: 400px;
    right: 120px;
    bottom: 80px;
    position: fixed;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    height: 0;
}

    #dot-survey.dot-survey-main-container .dot-survey-form {
        padding: 10px;
        padding-bottom: 90px;
    }

    #dot-survey.dot-survey-main-container .dot-survey-header {
        display: table;
        width: 100%;
    }

        #dot-survey.dot-survey-main-container .dot-survey-header .dot-survey-header-content,
        #dot-survey.dot-survey-main-container .dot-survey-header .dot-survey-close {
            display: table-cell;
            vertical-align: middle;
            padding: 15px;
        }

        #dot-survey.dot-survey-main-container .dot-survey-header .dot-survey-header-content {
            font-size: 20px;
        }

        #dot-survey.dot-survey-main-container .dot-survey-header .dot-survey-close {
            font-size: 14px;
            text-transform: lowercase;
            color: #444;
            cursor: pointer;
            text-align: right;
        }

            #dot-survey.dot-survey-main-container .dot-survey-header .dot-survey-close:hover {
                color: #888;
            }


    #dot-survey.dot-survey-main-container .dot-survey-content {
        padding: 15px;
        overflow: auto;
        height: 85%;
    }

        #dot-survey.dot-survey-main-container .dot-survey-content .dot-survey-form-switch {
            display: table;
        }

            #dot-survey.dot-survey-main-container .dot-survey-content .dot-survey-form-switch .dot-survey-form-switch-option {
                display: table-cell;
                padding: 5px 10px;
                border: 1px solid #6EAD25;
                font-size: 14px;
                cursor: pointer;
                transition: all 0.2s ease;
                text-align: center;
            }

            #dot-survey.dot-survey-main-container .dot-survey-content .dot-survey-form-switch .dot-survey-form-switch-option.active,
            #dot-survey.dot-survey-main-container .dot-survey-content .dot-survey-form-switch .dot-survey-form-switch-option:hover {
                background: #6EAD25;
                color: #fff;
            }

                #dot-survey.dot-survey-main-container .dot-survey-content .dot-survey-form-switch .dot-survey-form-switch-option.first-switch {
                    border-radius: 10px 0 0 10px;
                }

                #dot-survey.dot-survey-main-container .dot-survey-content .dot-survey-form-switch .dot-survey-form-switch-option.last-switch {
                    border-radius: 0 10px 10px 0;
                }

    #dot-survey.dot-survey-main-container .dot-survey-spacer {
        height: 10px;
    }

    #dot-survey.dot-survey-main-container .dot-survey-spacer.large {
        height: 15px;
    }

    #dot-survey.dot-survey-main-container .dot-survey-subject {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

        #dot-survey.dot-survey-main-container .dot-survey-subject .dot-survey-form-left,
        #dot-survey.dot-survey-main-container .dot-survey-subject .dot-survey-form-right {
            display: table-cell;
            border-bottom: 1px solid #ccc;
            width: 50%;
            vertical-align: middle;
            padding: 25px 0;
        }

        #dot-survey.dot-survey-main-container .dot-survey-subject .dot-survey-form-left,
        #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-full-width-subject-text {
            font-size: 14px;
        }

        #dot-survey.dot-survey-main-container .dot-survey-subject .dot-survey-form-right {
            text-align: right;
        }

            #dot-survey.dot-survey-main-container .dot-survey-subject .dot-survey-form-right .dot-survey-form-switch {
                float: right;
            }

        #dot-survey.dot-survey-main-container .dot-survey-subject .dot-rating-explanation {
            display: table;
            width: 87%;
            float: right;
        }

        #dot-survey.dot-survey-main-container .dot-survey-subject .dot-rating-explanation .expl {
            display: table-cell;
            text-align: left;
            font-size: 10px;
        }

            #dot-survey.dot-survey-main-container .dot-survey-subject .dot-rating-explanation .right-expl {
                text-align: right;
            }

    #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-full-width-subject-text {
        width: 50%;
    }

    #dot-survey.dot-survey-main-container .dot-survey-full-width-subject textarea {
        width: 97%;
        min-width: 97%;
        max-width: 97%;
        margin-top: 10px;
        border: 1px solid #6EAD25;
        height: 100px;
        max-height: 100px;
        outline: none;
        font-family: 'Roboto', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 8px;
        font-size: 16px;
        border-radius: 10px;
        resize: none;
    }

    #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button {
        display: table;
        background: #fff;
        border: none;
        color: #6EAD25;
        border: 1px solid #6EAD25;
        font-size: 16px;
        cursor: pointer;
        margin-top: 40px;
        float: right;
        padding: 5px 15px 7px 15px;
        border-radius: 10px;
        font-weight: 500;
        font-family: 'Roboto', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
        transition: all 0.2s ease;
    }

        #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button:hover {
            opacity: 0.8;
            background: #6EAD25;
            color: #fff;
        }

            #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button:hover .dot-survey-send-button-image.dot-survey-send-white {
                display: table-cell;
            }

            #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button:hover .dot-survey-send-button-image.dot-survey-send-green {
                display: none;
            }

        #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button .dot-survey-send-button-text,
        #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button .dot-survey-send-button-image {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button .dot-survey-send-button-text {
            padding-top: 2px;
        }

            #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button .dot-survey-send-button-image img {
                height: 14px;
                padding-left: 10px;
                vertical-align: middle;
            }

            #dot-survey.dot-survey-main-container .dot-survey-full-width-subject .dot-survey-send-button .dot-survey-send-button-image.dot-survey-send-white {
                display: none;
            }


    #dot-survey.dot-survey-main-container .dot-survey-before {
        display: block;
    }

    #dot-survey.dot-survey-main-container .dot-survey-after {
        display: none;
        text-align: center;
        padding-top: 80px;
        font-weight: 500;
    }

        #dot-survey.dot-survey-main-container .dot-survey-after .dot-survey-after-loading {
            display: block;
        }

        #dot-survey.dot-survey-main-container .dot-survey-after .dot-survey-after-success {
            display: table;
            width: 100%;
            text-align: center;
        }

            #dot-survey.dot-survey-main-container .dot-survey-after .dot-survey-after-success .dot-survey-after-loading-successtext {
                display: table-cell;
            }

        #dot-survey.dot-survey-main-container .dot-survey-after img {
            padding-top: 20px;
        }

#dot-templates.dot-chat-template {
    display: none;
}

@media screen and (min-width: 800px) and (max-height: 600px) {
    #dot.dot-chatbot .dot-icon {
        bottom: 10px;
    }

    #dot.dot-chatbot .dot-info-popover {
        bottom: 100px;
    }

    #dot.dot-chatbot .dot-chatbox {
        bottom: 20px;
    }

    #dot.dot-chatbot .dot-chatbox {
        height: 95% !important;
    }
}

@media screen and (max-width: 800px) {
    #dot.dot-chatbot .dot-info-popover,
    #dot.dot-chatbot .dot-icon {
        right: 10px;
    }

    #dot.dot-chatbot .dot-icon {
        bottom: 10px;
    }

    #dot.dot-chatbot .dot-info-popover {
        bottom: 100px;
        right: 50px;
    }

    #dot.dot-chatbot .dot-chatbox {
        height: 100% !important;
    }

    .dot-survey-main-container,
    #dot.dot-chatbot .dot-chatbox {
        height: 100%;
        width: 100% !important;
        bottom: 0 !important;
        right: 0 !important;
        border-radius: 0;
    }

    #dot.dot-chatbot .dot-chatbox-header {
        height: 48px;
        border-radius: 0;
    }

    #dot.dot-chatbot .dot-chatbox-icon {
        top: 3px;
        left: 5px;
        margin: 0;
        padding: 5px;
    }

    #dot.dot-chatbot .dot-chatbox-icon img {
        height: 30px;
        vertical-align: middle;
    }

    #dot.dot-chatbot .dot-chatbox-header .dot-close-options .dot-close-option {
        font-size: 1.8em;
        padding-top: 5px;    
    }

    #dot.dot-chatbot .dot-chatbox-subtitle {
        height: 80px;
    }

    #dot.dot-chatbot .dot-chatbox-subtitle .dot-chatbox-subtitle-header {
        padding-top: 30px;
    }

    #dot.dot-chatbot .dot-chatbox-subtitle .dot-chatbox-subtitle-header-container {
        padding-top: 0;
    }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-subtitle-content {
            font-size: 0.8em;
        }

    #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-opener-container {
        display: table;
        float: none;
        margin-right: 0;
        width: 100%;
        padding-top: 5px;
        text-align: center;
    }

    #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-opener-text {
        text-align: left;
        padding-left: 10px;
        font-size: 0.9em;
    }

    #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys {
        text-align: right;
        padding-right: 20px;
    }

        #dot.dot-chatbot .dot-chatbox-subtitle .chatbox-survey-opener .chatbox-survey-smileys .fa {
            padding: 5px;
        }
}